<section class="banner team">
    {{!-- {{google-maps latitude="20" longitude="0" markers=markers}} --}}
</section>
{{about-subheader}}
<section class="page">
    <div class="team">
        <h1>We're from around the world</h1>
        <ul>
            {{#each}}
                <li>
                    <img {{bind-attr src="photo" title="languages"}}>
                    <p>{{name}}</p>
                    <p class="country">{{location}}</p>
                </li>
            {{/each}}
            <li class="volunteer">
              {{#link-to "volunteer"}}
                {{!-- <img src="img/2.png" alt="Become a volunteer today"> --}}
                <p>Become a volunteer today</p>
              {{/link-to}}
            </li>
        </ul>
    </div>
</section>